<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    
  <configSections>
  <sectionGroup name="nwebsec">
      <!-- For information on how to configure NWebsec please visit: https://docs.nwebsec.com/ -->
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=4.3.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
    </sectionGroup></configSections>
  <connectionStrings>
    <add name="PruebaNubeEntities" connectionString="metadata=res://*/Modelonube.csdl|res://*/Modelonube.ssdl|res://*/Modelonube.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pruebanube.database.windows.net;initial catalog=PruebaNube;user id=AdminPrueba;password=cyberattack123@+;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
    <sessionState timeout="20" /> 
      <authentication mode="Forms">
        <forms requireSSL="true" loginUrl="Index.aspx" defaultUrl="CrudUsuario.aspx" name=".ASPXFORMSAUTH" protection="All">
        </forms>
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" />
  </system.web>
  <appSettings>

    </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <modules>
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=4.3.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
    <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
      <securityHttpHeaders>
        <x-XSS-Protection blockMode="true" policy="FilterEnabled"/>
        <x-Content-Type-Options enabled="true"/>
        <x-Frame-Options policy="Deny"/>
        <content-Security-Policy enabled="true">
          <default-src none="true" />
          <script-src unsafeEval="true" unsafeInline="true" self="true">
            <add source="www.google.com" /> 
            <add source="fonts.googleapis.com" />
            <add source="unpkg.com" />
            <add source="ajax.aspnetcdn.com" />
            <add source="www.gstatic.com" />
          </script-src>
          <style-src unsafeInline="true" self="true" >
            <add source="fonts.googleapis.com" />
            <add source="www.google.com" />
          </style-src>
          <img-src self="true" />
          <object-src none="true" />
          <media-src none="true" />
          <frame-src self="true">
            <add source="www.google.com" />
          </frame-src>
          <font-src self="true" >
            <add source="fonts.gstatic.com" />
          </font-src>
          <connect-src self="true" />
          <frame-ancestors none="true" />
          <report-uri enableBuiltinHandler="true"/>
          <base-uri self="true" />
        </content-Security-Policy>
        <strict-Transport-Security max-age="365" includeSubdomains="true" preload="true"/>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>
</configuration>